.banner {
	background-image: url(https://media.fashionnetwork.com/m/e28f/c5c7/2b5f/b1f1/e199/3809/fab5/0868/b7f9/b2a3/b2a3.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}